* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
    position: sticky;
}

.right {
    border: 2px solid red;
    border-radius: 50%;
    height: 40px;
    width: 30px;
    

}

/* .pandahead{
    border: 2px solid red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
} */

.pandabody {
    border: 2px solid red;
    border-radius: 40px;
    height: 10rem;
    width: 5rem;

}

.left {
    border: 2px solid red;
    border-radius: 50%;
    height: 40px;
    width: 30px;

}